block variables
  - const page_title = "Default Title";

doctype html
html(lang="en")
  head
    // use Unicode
    meta(charset="utf-8")
    // force IE to use the lastest rendering engine
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    // force browser to scale the app to the size of window space available
    meta(name="viewport", content="width=device-width, initial-scale=1")

    block title
      title= page_title

    block stylesheets
      link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")

  body
    block header
    block content
    block footer

    
    block javascripts
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js", integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6", crossorigin="anonymous")
      script(src="./script.js")